body {
    font-family: 'Popins', sans-serif !important;
}
.aboutContainer > .aboutTextContainer {
    background-image: url('./images/About us.svg');
    background-repeat: no-repeat;
    background-position: top;
}
.aboutWhyContainer {
    background-image: url('./images/Values.svg');
    background-repeat: no-repeat;
    background-position: top;
}
.aboutFounderTextContainer {
    background-image: url('./images/Founder.svg');
    background-repeat: no-repeat;
    background-position: top;
}
.aboutTeamsContainer {
    background-image: url('./images/Teams.svg');
    background-repeat: no-repeat;
    background-position: top;
}
.aboutMissionText {
    background-image: url('./images/Mission (2).svg');
    background-repeat: no-repeat;
    background-position: top;
}

.aboutContainer {
    display: flex;
    flex: 1;
}

.aboutTextContainer {
    display: flex;
    flex: 0.5;
    flex-direction: column;
    justify-content: space-between;
}

.aboutImgContainer {
    display: flex;
    flex: 0.5;
    justify-content: flex-end;
}

.aboutWhyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}

.aboutWhyColumnContainer {
    display: flex;
    flex: 1;
    gap: 80px;
    margin-top: 2em;
}

.aboutWhyColumn1,
.aboutWhyColumn2 {
    display: flex;
    flex: 0.5;
    flex-direction: column;
    gap: 40px;
}

.aboutWhyBox1,
.aboutWhyBox2,
.aboutWhyBox3,
.aboutWhyBox4 {
    display: flex;
    flex-direction: column;
    background: #F2F2FF;
    border: 1px solid #D5D5FF;
    border-radius: 8px;
    padding: 10px;
    position: relative;
    height: 170px;
}

.aboutWhyCornerImg {
    width: 70px;
    position: absolute;
    right: -1em;
    top: -1em;
}

.aboutFounderContainer {
    display: flex;
    flex: 1;
    background: #F2F2FF;
    margin-top: 7em;
}

.aboutFounderTextContainer {
    display: flex;
    flex: 0.5;
    flex-direction: column;
    padding: 5em;
}

.aboutFounderImgContainer {
    display: flex;
    flex: 0.5;
}

.blueCornerImg {
    position: absolute;
    height: 410px;
    right: 0;
}

.aboutFounderImg {
    width: 400px;
    position: relative;
    top: -133px;
    right: -133px;
}

.aboutFounderDetail {
    display: flex;
    position: absolute;
    right: 2em;
    top: 120em;
    gap: 5px;
    color: #53686A;
}

.aboutFounderPosition {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutTeamsContainer {
    text-align: center;
    padding-top: 3em;
    padding-bottom: 12em;
}

.aboutTeamsBlueBg {
    height: 150px;
    background: linear-gradient(92.05deg, #0027B5 7.86%, #00006A 61.94%);
}

.carousel-inner {
    overflow: visible !important;
}

.carouselItemTeams {
    display: flex !important;
    /* gap: 3em; */
    justify-content: space-around;
}

.carouselTeamBox1,
.carouselTeamBox2,
.carouselTeamBox3,
.carouselTeamBox4 {
    display: flex;
    width: 200px;
    height: 250px;
    background: #F2F2FF;
    border-radius: 8px;
    justify-content: center;
}

.carouselTeamImg {
    position: absolute;
    top: -42px;
    height: -webkit-fill-available;
}

.aboutTeamLinkedinBtn {
    position: absolute;
    display: flex;
    padding: 3px;
    background: #10B35E;
    border-radius: 8px;
    border: none;
    width: 10em;
    justify-content: center;
    gap: 5px;
    align-items: flex-start;
    bottom: 10px;
    color: white;
}

.aboutTeamName {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.aboutMissionContainer {
    display: flex;
    flex: 1;
    padding-top: 5em;
    padding-bottom: 7em;
}

.aboutMissionText {
    display: flex;
    flex-direction: column;
    padding-left: 5em;
    flex: 0.5;
}

.aboutMissionImg {
    display: flex;
    flex: 0.5;
    justify-content: flex-end;
}

.aboutWhyBoxH6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 125.5%;
    /* identical to box height, or 23px */

    text-transform: capitalize;

    color: #333333;
}

.aboutFounderPositionTypo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    /* identical to box height */

    letter-spacing: 0.25px;
    text-transform: capitalize;

    color: #53686A;
}

.aboutFounderPositionH6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    letter-spacing: 0.25px;
    text-transform: capitalize;

    color: #53686A;
}

.aboutTeamNameH5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    text-transform: capitalize;

    color: #FFFFFF;
}

.aboutTeamProfileH6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */

    text-transform: capitalize;

    color: #FFFFFF;

}
.aboutWhyBoxHeadingContainer {
    display: flex;
    gap: 10px;
}